page-confirmation {
.foot{
    background-color: burlywood;
    height:7vh;
    padding-top: 4%;
}
.background{
    background: radial-gradient(rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0.63)), url('../../assets/hotel8.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin:0 auto;
    padding:0;
    height:50%;
}
.background1{
    background-color: rgba(0, 0, 0, 0.795);
    height: 50%;
}
.container{
    position: relative;
    top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: white;
 }
 
 .container > div{
  
      
     
 }
 .container > div:nthchild(odd){
 
   
 }
 .border{
     border-right:rgba(128, 128, 128, 0.342) solid;
     height: 80px;
 }
 .size{
     text-align: center;
     color:white;

 }
 p{
 margin-top:30%;
 }
 .size1{
     font-size: 1.7em;
    
 }
 .size3{
font-size: 4em;
 }
 .p{
   color: burlywood; 
  
 }
}
