page-registration {
    .back{
        background:radial-gradient(rgba(0, 0, 0, 0.356),rgba(0, 0, 0, 0.37)),url('../../assets/hotel5.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin:0 auto;
    }

    ion-item#item{
        background-color: rgba(0, 0, 0, 0.603);
        color:white;
        width:130%;
        margin-left:-15%;
        padding:2%;
      
        
    }
    .item{
        width:140%;
        margin-left:-20%;
        border-radius: 100px;
        color:white;
        background-color: rgba(0, 0, 0, 0.116);
        box-shadow: 1px 2px 7px rgba(255, 255, 255, 0.452);
    }

    .flex{
     display: flex;
    justify-content:center;
    
    }
    .btn{
        margin-top:15%;
        width:60%;
        margin-left:20%;  
        background-color:rgba(0, 0, 0, 0.61);
        box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.493);
    }
    .card{
        background-color:rgba(0, 0, 0, 0.116);
    
    }
    ion-icon{
        padding:5%;

    }
}
